@charset "UTF-8";
.navbar.navbar-expand-lg.navbar-light {
	background-image: url(url);
	background-color: #D4BB15;
}
.jumbotron.text-center  {
	background-image: url(../top-hero.jpg);
	background-size: cover;
	background-position: center center;
	color: #FFFFFF;
}
.jumbotron.text-center .lead {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.jumbotron.text-center .lead .btn.btn-primary.btn-lg {
	background-color: #D4BB15;
	-webkit-box-shadow: inset 0px 0px;
	box-shadow: inset 0px 0px;
}
.row.text-center .col-lg-4 img {
	width: 90%;
	height: auto;
	border-radius: 1039px;
	margin-bottom: 20px;
}
.redtext {
	color: #E21709;
}
.bluetext {
	color: #024B9A;
}
.greentext {
	color: #238B27;
}
.jumbotron.text-center.footer {
	background-image: url(../footer.jpg);
}
* {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.footer {
}
